<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>产品列表</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" id="theme" href="/template/css/theme-default.css"/>             
    </head>
    <body id="myApp">
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
           <!-- START 页面侧边栏 -->
            <div class="page-sidebar">
                <!-- START 页面侧边栏导航 -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/">MeGa</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li>
                        <a href="/"><span class="fa fa-home"></span> <span class="xn-text"> 首页</span></a>                        
                    </li>                    
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-shield"></span> <span class="xn-text"> 品牌管理</span></a>
                        <ul>
                            <li><a href="/brandList"><span class="fa fa-list"></span> 查看所有品牌</a></li>
                            <li><a href="/addBrand"><span class="fa fa-plus"></span> 添加品牌</a><div class="informer informer-danger">New</div></li>
                        </ul>
                    </li> 
                    <li class="xn-openable active">
                        <a href="#"><span class="fa fa-flask"></span> <span class="xn-text"> 产品管理</span></a>
                        <ul>
                            <li class="active"><a href="/productList"><span class="fa fa-list"></span> 查看所有产品</a></li>
                            <li><a href="/addProduct"><span class="fa fa-plus"></span> 添加产品</a><div class="informer informer-danger">New</div></li>
                        </ul>
                    </li>        
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-users"></span> <span class="xn-text"> 专家管理</span></a>
                        <ul>
                            <li><a href="#"><span class="fa fa-list"></span> 查看所有专家</a></li>
                            <li><a href="#"><span class="fa fa-plus"></span> 添加专家</a><div class="informer informer-danger">New</div></li>
                        </ul>
                    </li>                           
                </ul>
                <!-- END 页面侧边栏导航 -->
            </div>
            <!-- END 页面侧边栏 -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
               <!-- START 顶部导航 -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- 导航栏切换 -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END 导航栏切换 -->

                    <!-- 设置 -->
                    <li class="xn-icon-button pull-right last">
                        <a href="#"><span class="fa fa-gear"></span></a>
                        <ul class="xn-drop-left animated zoomIn">
                            <li><a href="#"><span class="fa fa-user"></span>Guoer</a></li>
                            <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-power-off"></span>退出</a></li>
                        </ul>                        
                    </li> 
                    <!-- END 设置 -->  

                    <!-- 消息通知 -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-bullhorn"></span></a>
                        <div class="informer informer-danger">5</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-bullhorn"></span> 提醒</h3>                   
                                <div class="pull-right">
                                    <span class="label label-info">5 new</span>
                                </div>
                            </div>
                            <div class="panel-body list-group list-group-contacts scroll">
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <span class="contacts-title">好消息</span>
                                    <p>恭喜，您的品牌审核已通过!</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-danger"></div>
                                    <span class="contacts-title">坏消息</span>
                                    <p>抱歉，您的品牌审核被残忍拒绝!</p>
                                </a>
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="#">查看所有消息</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END 消息通知 -->                  
                </ul>
                <!-- END 顶部导航 -->                                    

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">产品管理</a></li> 
                    <li class="active">产品列表</li>                    
                </ul>
                <!-- END BREADCRUMB -->                       
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <div class="col-md-2 col-xs-5 pull-left">
                                        <select class="form-control select">
                                            <option value="" disabled selected>每页显示条数</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="40">40</option>
                                            <option value="10000">所有</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-xs-5 pull-right">
                                      <input type="text" class="form-control" placeholder="搜索产品名称...">
                                    </div>
                                </div>

                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>产品名称</th>
                                                    <th  width="200">产品介绍</th>
                                                    <th>审核状态</th>
                                                    <th>被喜欢数</th>
                                                    <th>产品标签</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>                                            
                                                <tr v-for="product in productList">
                                                    <td v-text="$index + 1"></td>
                                                    <td v-text="product.name"></td>
                                                    <td v-text="product.detail"></td>
                                                    <td>
                                                        <span class="label label-success" v-if="product.auditStatus == 1">已通过</span>
                                                        <span class="label label-danger" v-else>未通过</span>
                                                    </td>
                                                    <td ng-bind="product.like"></td>
                                                    <td>                                                                  
                                                        <a href="#">
                                                            <span class="fa fa-tag"></span><span v-text="product.tag"></span>
                                                        </a>
                                                    </td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                

                                </div>
                                <div class="panel-footer">
                                    <ul class="pagination pagination-sm pull-right">
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        <li><a href="#">下一页</a></li>
                                    </ul>
                                </div>
                            </div>                                                
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> 退 <strong>出</strong> ?</div>
                    <div class="mb-content">
                        <p>确定退出?</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="#" class="btn btn-success btn-lg">是</a>
                            <button class="btn btn-default btn-lg mb-control-close">否</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="/template/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="/template/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->                  
        
        <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="/template/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/template/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/template/js/plugins/bootstrap/bootstrap.min.js"></script>        
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->        
        <script type="text/javascript" src="/template/js/plugins/icheck/icheck.min.js"></script>        
        <script type="text/javascript" src="/template/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="/template/js/plugins/owl/owl.carousel.min.js"></script>     
        <!-- END THIS PAGE PLUGINS-->        

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="/template/js/plugins.js"></script>        
        <script type="text/javascript" src="/template/js/actions.js"></script>
        <!-- END TEMPLATE -->

        <!--START vuejs -->
        <script type="text/javascript" src="/lib/vue.js"></script>
        <script type="text/javascript" src="/lib/vue-resource.js"></script>

        <script type="text/javascript">
            Vue.http.options.emulateJSON = true;
           
            var app = new Vue({
                el: '#myApp',
                data: {
                    postData:  {
                        'id':1,
                        'bookName':"《平凡的世界》",
                        'author':"路遥"
                    },
                    productList: []
                },
                methods: {
                    //编辑产品
                    edit: function(productItem){

                    },
                    //删除产品
                    delete: function(productName){

                    }
                },
                computed: {
                    
                },
                ready: function() {
                    // GET request
                    this.$http({
                        url: '/vueGet', 
                        method: 'GET'
                    }).then(function (response) {
                        // success callback
                        this.$set('books', response.data.data);
                        console.log(this.books);

                    }, function (response) {
                        // error callback
                        console.log(response);
                    });

                    //POST request
                    this.$http({
                        url: '/vuePost',
                        method: 'POST', 
                        data: this.postData
                    }).then(function(response){
                        // success callback
                        console.log(response.data);
                    }, function(response){
                        // error callback
                        console.log(response);
                    });
                }
            });
        </script>
        <!-- END SCRIPTS -->    
    </body>
</html>






